PFATAL/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
PFATAL/Assets/_Externe/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
PFATAL/Assets/_Graph/UI/fonts/Neue-Kabel/NeueKabel SDF.asset
