<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.73.0" targetFramework="net471" />
  <package id="Google.Apis.Auth" version="1.73.0" targetFramework="net471" />
  <package id="Google.Apis.Core" version="1.73.0" targetFramework="net471" />
  <package id="Google.Apis.Drive.v3" version="1.73.0.4068" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net471" />
  <package id="sqlite-net-pcl" version="1.9.172" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="2.1.2" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="2.1.2" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.2" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.2" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
</packages>